/*
File Name: tictactoe.css
Date: 11/29/2016
Programmer: Jim Medlock
*/

html {
  font-family: 'Josefin Sans', serif;
  min-height: 100%;
  position: relative;
}

body {
  background-color: #283237;
  color: #808D94;
  margin-top: 0px;
  margin-bottom: 60px;
}

/* ---------------------------------------------
   Common elements used throughout the page
   --------------------------------------------- */
.pt-btn,
.pt-btn:hover,
.pt-btn:active,
.pt-btn:visited,
.pt-btn:focus {
  background-color: transparent;
  border-color: transparent;
  color: black;
}

.pt-btn-center {
  margin-left: auto;
  margin-right: auto;
}

.pt-small-text {
 font-size: 90%;
}

/* ---------------------------------------------
   Page title
   --------------------------------------------- */
.pt-jumbotron {
  background-color: #659599;
  box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.50);
  color: #808D94;
  display: block;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-top: 1px;
  padding-bottom: 10px;
  text-align: center;
}

h3.pt-page-title {
  color: white;
  margin-top: 5px;
}

h4.pt-interval-message {
  margin-bottom: 0;
  text-align: center;
  width: 100%;
}

/* ---------------------------------------------
   Game Board
   --------------------------------------------- */
.t3-bar-row {
  margin-top:5px;
  padding: 5px;
  outline: 2px solid #ccc;
  outline-offset: -10px;
}

/* ---------------------------------------------
   Help dialog
   --------------------------------------------- */
.pt-help-open {
  margin-top: 10px;
}

.pt-help-dialog {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.pt-help-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  text-align: left;
  width: 80%;
}

/* The Close Button */
.pt-help-close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.pt-help-close:hover,
.pt-help-close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

/* ---------------------------------------------
   Page footer
   --------------------------------------------- */
.pt-bottom-bar {
  bottom: 0;
  background-color: #0A3C41;
  color: white;
  height: 60px;
  padding-left: 10px;
  padding-bottom: 5px;
  position: absolute;
  width: 100%;
}

.pt-bottom-bar a {
  color: white;
  font-size: small;
  margin-left: 0px;
  padding-top: 0px;
  padding-left: 3px;
  padding-right: 2px;
}
